extends layout

block content
  div.header
    h1 HIBOU
  div.navigation
    div.search-bar
      ul.filter-menu
        li category
        li technology
        li field
        li visual
        li client
    div.filter-list.category
      div.inner
        each category in categories
          span= category.name
    div.filter-list.technology
      div.inner
        each technology in technos
          span= technology.name
    div.filter-list.field
      div.inner
        each field in fields
          span= field.name
    div.filter-list.visual
      div.inner
        each visual in visuals
          span= visual.name
    div.filter-list.client
      div.inner
        each client in companies
          span= client.name
  div.content
    div.references-wrapper
      each reference in references
        if(reference.thumbnails[0])
          div.box(data-id=reference.id)
            a(href=reference.url target="_blank")
              div.thumbnail-outer
                img(src="/images/references/"+reference.thumbnails[0])
            div.info
              h2= reference.title
              p= reference.description
              - let date = new Date(reference.date)
              div.extra
                - let month = date.getMonth() + 1
                span.date=  month.toString().padStart(2, '0') + "/" + date.getDate().toString().padStart(2, '0') + "/" + date.getFullYear()
                span.views= reference.views
              div.tags
                span= reference.tags.category[0].name
                span= reference.tags.field[0].name
                span= reference.tags.techno[0].name
                span= reference.tags.visual[0].name
block scripts
  script(src="/js/index.js")
