extends ../layout

block content
  div.content.admin
    h2 edit reference
    div.project-details
      h4 title
      input.title(type=text value=reference.title)
      button.check-title check
      div.similar-refs
      h4 description
      textarea.description(maxlength="180")= reference.description
      div.row
        div.item
          h4 url
          input.url(type=text value=reference.url)
        div.item
          h4 date (YYYY-MM-DD)
          input.date(type=text value=reference.date)
      h4 client
      select.company
        each company in companies
          if(reference.company && reference.company._id.toString() == company._id.toString())
            option(value=company.id selected)= company.name
          else
            option(value=company.id)= company.name
      h4 thumbnails
      input.thumbnail.thumb-1(type=text value=reference.thumbnails[0])
      input.thumbnail.thumb-2(type=text value=reference.thumbnails[1])
      input.thumbnail.thumb-3(type=text value=reference.thumbnails[2])
      h4 categories
      each category in categories
        span.tag.category(class={active: reference.tags.category.indexOf(category.id) > -1} data-id=category.id)= category.name
      h4 fields
      each field in fields
        span.tag.field(class={active: reference.tags.field.indexOf(field.id) > -1} data-id=field.id)= field.name
      h4 technos
      each techno in technos
        span.tag.techno(class={active: reference.tags.techno.indexOf(techno.id) > -1} data-id=techno.id)= techno.name 
      h4 visuals
      each visual in visuals
        span.tag.visual(class={active: reference.tags.visual.indexOf(visual.id) > -1} data-id=visual.id)= visual.name
      div.update-ref
        button.submit submit
      
block scripts
  script(src="/js/mgmt/update_reference.js")
